<footer class="footer">
    <div class="footer-content">
        <div class="footer-links">
            <h4>About Us</h4>
            <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Customer Service</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Returns & Exchanges</a></li>
                <li><a href="#">Shipping Information</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Connect with Us</h4>
            <div class="social-icons">
                <a href="#" class="social-icon">Facebook</a>
                <a href="#" class="social-icon">Twitter</a>
                <a href="#" class="social-icon">Instagram</a>
                <a href="#" class="social-icon">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Company Name. All Rights Reserved.</p>
    </div>
</footer>